.main{
    background-image: url('<?php echo $movie['Poster']; ?>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position:absoulte;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
}

.movie-details{
    position: absolute;
    z-index:1;
}
