
.background-container-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(128, 128, 128, 0.2);
    z-index: -1; /* Make sure the background stays behind other content */
}

.background-image-index {
    box-shadow: inset 0 0 0 1000px rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: changeBackground 300s infinite;
}


@keyframes changeBackground {
    0% { background-image: url('https://picfiles.alphacoders.com/579/579830.jpg'); }
    20% { background-image: url('https://images.alphacoders.com/123/1239899.jpg'); }
    40% { background-image: url('https://picfiles.alphacoders.com/516/516415.jpg'); }
    60% { background-image: url('https://picfiles.alphacoders.com/318/31858.jpg'); }
    80% { background-image: url('https://images2.alphacoders.com/130/1306782.png'); }
    100% { background-image: url('https://picfiles.alphacoders.com/579/579830.jpg'); }
}

.d-flex.vh-100 {
    padding-top:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-index{
    margin-top: 50px; 
    color: white;
}