.background-container {
    position: relative;
    height: 40vh; 
    margin: 0 50px; 
    overflow: hidden;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 40px); 
    height: calc(100% + 40px); 
    background-image: url('https://images8.alphacoders.com/703/thumb-1920-703712.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 255, 0.2); 
}
.d-flex.vh-100.position-relative .container.my-auto {
    z-index: 1;
}